body {
    background-color: #00B7FF;
}

.question{
    height:100px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    padding-top: 35px;
    cursor: pointer;
}

.jumbotron {
    background-color: #00B7FF;
    color: #FFFFFF;
}

.panel-heading{
    background-color: #00B7FF;
}
.panel-body{
    background-color: #00B7FF;
}
.panel-footer{
    background-color: #00B7FF;
    color: #FFFFFF;
    padding:0;
}